<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Resto Fast Food</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Resto Fast Food App">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="/app.webmanifest.json">
    <link rel="icon" type="image/png" href="/images/icon/favicon-96x96.png" />
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://kit.fontawesome.com/bb957a7c73.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <a href="../#daftar-resto" class="skip">To Content</a>

        <div class="judul">
            <h1>Restoran Fast Food</h1>
            <h4>Welcome to Restoran Fast Food!</h4>
        </div>
    </header>
    <div class="appbar">
        <div class="logo2"><a href="#/">FAST-FOOD</a></div>
        <button id="navbar" href="#" type="button">☰</button>
    </div>
    <nav>
        <div class="navbar" id="bar">
            <div class="logo"><a href="#/">FAST-FOOD</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/favorite">Favorit</a></li>
                    <li><a href="https://github.com/Mochrofiqi" target="_blank" rel="noopener">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
  
    <main>
    </main>

    <footer>
        <div id="copyright">
            <div class="wrapper">
                <b>Resto FAST-FOOD Copyright &copy; 2022. </b> Moch. Rofiqi
            </div>
        </div>
    </footer>

</body>

</html>