<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto Fast Food</title>
</head>

<body>
    <header>
        <a href="#daftar-resto" class="skip">To Content</a>

        <div class="judul">
            <h1>Restoran Fast Food</h1>
            <h4>Welcome to Restoran Fast Food!</h4>
        </div>
    </header>
    <div class="appbar">
        <div class="logo2"><a href="index.html">FAST-FOOD</a></div>
        <button id="navbar" href="#" type="button">☰</button>
    </div>
    <nav>
        <div class="navbar" id="bar">
            <div class="logo"><a href="index.html">FAST-FOOD</a></div>
            <div class="menu">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#">Favorit</a></li>
                    <li><a href="https://github.com/Mochrofiqi" target="_blank" rel="noopener">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
  
    <main>
        <section class="hero">
            <h1 class="hero-judul">Welcome to Restoran Fast Food!</h1>
        </section>

        <article class="head" id="home">
            <div class="gambar">
                <img class="image"
                    src="https://img.freepik.com/free-vector/happy-tiny-barista-making-coffee-huge-machine-waitress-holding-tray-with-paper-cups-flat-illustration_74855-10805.jpg?size=626&ext=jpg&ga=GA1.2.2063963505.1657106894"
                    alt="logo">
            </div>
            <div class="kolom">
                <p class="deskripsi">Selamat Datang di Website Resto Fast Food Berbagai Kota</p>
                <h2>Tentang Restoran</h2>
                <p class="deskripsi2">Fast food atau makanan cepat saji merupakan jenis makanan yang dapat disiapkan dan
                    dikonsumsi dalam waktu singkat baik memasak maupun menyediakan makanan. Kehadiran makanan cepat saji dalam industri
                    makanan mempengaruhi pola makan seseorang. Makanan siap saji mudah diperoleh di pasaran serta tersedia berbagai variasi
                    sesuai selera dan daya beli. Selain itu, pengolahan dan penyiapannya lebih mudah dan cepat, cocok bagi mereka yang selalu
                    sibuk. Makanan cepat saji tersedia dalam waktu cepat dan siap disantap seperti ayam goreng tepung, pizza,
                    burger, kentang goreng, pasta, nugget, sosis, goreng-gorengan dan lain sebagainya.
                </p>
                <p><a href="#daftar-resto" class="btn2">Daftar Restoran</a></p>
            </div>
        </article>

        <article class="content" id="daftar-resto">
            <div class="tengah">
                <div class="kolom">
                    <h2>Restoran Fast-Food</h2>
                    <p class="deskripsi3">Restoran Fast-Food menyediakan berbagai jenis makanan khas dari berbagai kota
                        masing-masing</p>
                </div>
                <div class="menu-list"></div>
            </div>
        </article>
    </main>

    <footer>
        <div id="copyright">
            <div class="wrapper">
                <b>Resto FAST-FOOD Copyright &copy; 2022. </b> Moch. Rofiqi
            </div>
        </div>
    </footer>

</body>

</html>