* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lucida Sans';
}

main {
  margin: auto;
  width: 100%;
}

header{
  width: 100%;
  display: flex;
  line-height: 45px;    
  margin: 20px 0px 20px 0px;
}

.judul {
  text-align: center;
  margin: auto;
  font-size: 20px;
  float: left;
  font-family: Cambria;
  color: #5a524f;
  padding: 10px;
  background-color: #DCD7C9;
  width: 85%;
  border-radius: 20px;
  /* border-top: 6px solid #5a524f; */
  border-bottom: 6px solid #5a524f;

}

.navbar {
  width: 90%;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 40px;
  font-weight: 600;
  float: left;
  font-family: Cambria;
  /* position: absolute; */
  top: 10px;
  right: 15px;
  color: #5a524f;
  text-decoration: none;

}

.logo2 a {
  font-size: 40px;
  font-weight: 600;
  float: right;
  font-family: Cambria;
  /* position: absolute; */
  top: 10px;
  right: 15px;
  color: #5a524f;
  text-decoration: none;

}

.menu {
  float: right;
  margin: auto;
  
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 65px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  border-bottom: 4px solid #5a524f;
  border-top: 4px solid #5a524f;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  /* display: inline; */
}

nav ul li a {
  color: #5a524f;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  padding: 0px 15px 0px 15px;
  text-decoration: none;
  /* margin: auto; */
}

nav ul li a:hover {
  text-decoration: underline;
}

article {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

#home {
  margin-top: 30px;
}

#home .kolom {
  width: 75%;
  margin: 20px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.deskripsi {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4c433c;
}

.deskripsi2 {
  text-align: center;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4c433c;
}

.deskripsi3 {
  text-align: center;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #4c433c;
}

h2 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  font-size: 37px;
  margin-bottom: 20px;
  color: #4c433c;
  width: 100%;
  line-height: 50px;
}

article img {
  display: block;
  width: 50%;
  height: auto;
}

.gambar {
  margin: auto;
  width: 75%;
  display: inline-block;
}

.image {
  position: relative;
  width: 100%;
  margin: auto
}

a.btn {
  background: #6e695f;
  border-radius: 20px;
  margin-top: 20px;
  padding: 12px 17px 12px 17px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.btn:hover {
  background: #5a524f;
  text-decoration: none;
}

a.btn2 {
  background: #6e695f;
  text-align: center;
  display: block;
  margin: 0px 150px 0px 150px;
  border-radius: 20px;
  padding: 12px 15px 12px 15px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

a.btn2:hover {
  background: #5a524f;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.menu-list {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.list-menu {
  box-shadow: 0 5px 10px 0 rgb(181, 181, 181);
  width: 98%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  overflow: hidden;
  position: relative;
}

.list-menu:hover {
  transform: scale(1.03);
  transition: ease-in 0.1s;
}

.list-menu img {
  width: 100%;
  max-height: 250px;
  border-radius: 5px;
  margin: auto;
  
}

.list-menu h5 {
  font-family: 'Trebuchet MS';
  font-weight: 800;
  font-size: 23px;
  text-align: center;
  color:#4c433c;
  margin: 5px 0px 0px 0px;
  padding: 10px;
  background-color: #DCD7C9;
}

.list-menu h6 {
  font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 17px;
  color:#4c433c;
  padding: 20px; 
  text-align: center;   
}

.content {
  padding: 15px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 20px 0px 20px 0px;
  margin-top: 20px;
  background-color: #4c433c;
}

.wrapper {
  color: white;
}

.rating p {
  top : 0;
  left: 0;
  position: absolute;
  padding: 8px;
  background-color: #000000;
  color: white;
  border-radius: 15px;
  margin: 10px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.kota p {
  top : 0;
  right: 0;
  position: absolute;
  padding: 8px;
  margin-left: 300px;
  background-color: #000000;
  color: white;
  border-radius: 15px;
  margin: 10px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

.hero {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(1, 1, 1, 0.19);
}

.hero-judul {
  color: white;
  font-size: 46px;
  padding: 11.5% 2% 11.5% 2%;
  margin: 0px 15px 0px 15px;
  text-align: center;
}

.skip {
  position: absolute;
  left: 3px;
  top: -50px;
  background-color: #DCD7C9;
  color: #DCD7C9;
  font-size: 16px;
  text-decoration: none;
  padding: 0.5px 1px 0.5px 1px;
  /* padding: 1px; */
  border-radius: 10px;
}

.skip:focus {
  background-color: #5a524f;
  text-decoration: none;
  top: 3px;
  color: white;

}